body {
  background: #e5cccc;
  font-family: sans-serif;
  color: #323232;
}
h1 {
  text-align: center;
  font-size: 35px;
}

h2 {
  font-size: 25px;
  margin: 0 0 5px;
}
a {
  color: #68a8a8;
  text-decoration: none;
}

.container {
  background: #ece2e1;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  border-radius: 10px;
  display: block;
  margin: 50px auto;
  padding: 10px 30px 10px 30px;
  width: 600px;
}

#city {
  background: #ece2e1;
  border-radius: 4px;
  color: rgba(0, 0, 0, 0.7);
  font-size: 15px;
  padding: 15px;
  width: 100%;
}

.city {
  border-bottom: 1px dashed rgba(0, 0, 0, 0.2);
  display: flex;
  justify-content: space-between;
  margin: 10px 0;
  padding: 20px 0;
}
.city:last-child {
  border-bottom: none;
}

.date {
  opacity: 0.7;
  font-size: 15px;
}

.time {
  font-size: 45px;
  font-weight: bold;
}
.time small {
  font-size: 20px;
  vertical-align: middle;
}

footer {
  margin-top: 15px;
  text-align: center;
  color: rgba(0, 0, 0, 0.7);
}
